<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<title>Armin's Website</title>
</head>

<body>


<header>

    <div class="container">
        
        <img src="logo.png" alt="logo" class="logo">
        <nav>
            <li><a href="main.html">Main</a></li>
            <li><a href="achievements.html">Achievements</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="random.html">Random Number</a></li>
        </nav>
    </div>

</header>

<div class="containerE">
    <h1> Introduction </h1>
    <section id="text">
    <p>
    Hi! I'm Armin Geramirad and I'm a Freshman at Sharif University of Technology studying Computer Engineering.
    I have a background in Astronomy and robotics wich you can read more about it in Skills And Achievements section.
    </section>
    <h2> مقدمه </h2>
    <section id="textF">
        <p>
            صرفا خواستم یک بخش فارسی هم گذاشته باشم که از آرمان های خویش دور نشم. شما فرض کنید اون بالایی رو فارسی نوشتم.
            تازه این پایین عکس هم گذاشتم ببینین بلدم. دکمه های سایت هم یک انیمیشن ریزی داره
    </section>
    <center><img src="prof.jpeg" alt="prof" class="prof"></center>
</div>


</body>


<footer>
    <div class="containerF">

            <navF>
                <li><a href="https://t.me/rmingr" class="fa fa-telegram" style="font-size:30px"></a></li>
                <li><a href="https://linkedin.com/in/armin-geramirad-646837233" class="fa fa-linkedin" style="font-size:30px"> </a></li>
                <li><a href="https://github.com/ArminGer03" class="fa fa-github-square" style="font-size:30px"></a></li>
            </navF>
            <section id="textFoot">
                <p>&copy;2022 Armin Geramirad | All Rights Reserved</p>
            </section>
            

    </div>
</footer>


</html>
