<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<title>Armin's Website</title>
</head>

<body>


<header>

    <div class="container">
        
        <img src="logo.png" alt="logo" class="logo">
        <nav>
            <li><a href="main.html">Main</a></li>
            <li><a href="achievements.html">Achievements</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="random.html">Random Number</a></li>
        </nav>
    </div>

</header>

<div class="containerE">
    <h1> Skills </h1>
    <section id="text">
    <p>
        <ul>
            <li>In case you're wondering why the site looks like this,</li>
            <li>I have to say that this site was just an assignment.</li>
            <li>There wasn't much time dedicated to it,</li>
            <li>so I suggest you stop reading this and continue with your life.</li>
            <li>Have a nice day :)</li>

        </ul>
    </section>
    
</div>


</body>


<footer>
    <div class="containerF">

            <navF>
                <li><a href="https://t.me/rmingr" class="fa fa-telegram" style="font-size:30px"></a></li>
                <li><a href="https://linkedin.com/in/armin-geramirad-646837233" class="fa fa-linkedin" style="font-size:30px"> </a></li>
                <li><a href="https://github.com/ArminGer03" class="fa fa-github-square" style="font-size:30px"></a></li>
            </navF>
            <section id="textFoot">
                <p>&copy;2022 Armin Geramirad | All Rights Reserved</p>
            </section>
            

    </div>
</footer>


</html>
